<a href="https://colab.research.google.com/github/DatascienceSandra/C-Users-alexa-OneDrive-Documents-Excel-Data-Analysis-Course/blob/main/Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class LukeList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [3]:
my_list = LukeList()

In [5]:
LukeList()

[]

In [6]:
my_list.add("Data Nerd")

In [9]:
class BaseSalary:
    def __init__(self, base_amount, tax_rate):
        """Initialize base salary with a base amount and tax rate."""
        self.base_amount = base_amount
        self.tax_rate = tax_rate

    def calculate_net_salary(self):
        """Calculate the net salary after tax deduction."""
        return self.base_amount * (1 - self.tax_rate)

# Create an instance of BaseSalary
data_salary = BaseSalary(10000, 0.2)

# Calculate and print the net salary
net_salary = data_salary.calculate_net_salary()
print(f"Net Salary: {net_salary}")

Net Salary: 8000.0

In [12]:
class BaseSalary:
  def __init__(self, base_salary):
    pass

In [14]:
class BaseSalary:
    def __init__(self, base_amount, tax_rate=0.2):
        """Initialize base salary with a base amount and an optional tax rate."""
        self.base_amount = base_amount
        self.tax_rate = tax_rate

    def calculate_net_salary(self):
        """Calculate the net salary after tax deduction."""
        return self.base_amount * (1 - self.tax_rate)

# Create an instance of BaseSalary with a default tax rate
salary = BaseSalary(100000)

# Access and print the base amount
print(f"Base Salary: {salary.base_amount}")

Base Salary: 100000

In [16]:
class BaseSalary:
    def __init__(self, base_amount, tax_rate=0.2, symbol='$'):
        """Initialize base salary with a base amount, an optional tax rate, and a currency symbol."""
        self.base_amount = base_amount
        self.tax_rate = tax_rate
        self.symbol = symbol

    def calculate_net_salary(self):
        """Calculate the net salary after tax deduction."""
        return self.base_amount * (1 - self.tax_rate)

# Create an instance of BaseSalary
salary = BaseSalary(10000, symbol='₹')

# Access and print the symbol
print(f"Salary Currency Symbol: {salary.symbol}")

Salary Currency Symbol: ₹

In [17]:
salary

In [20]:
value = 100000

formatted_value = f'{value:,.0f}'
print(formatted_value)

100,000

In [27]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
    self.base_salary=base_salary
    self.bonus_rate=bonus_rate
    self.symbol =symbol
    self.total_salary =base_salary *(1 + bonus_rate)
    self.bonus = (self.total_salary - base_salary) / base_salary

    def __repr__(self):
      return f'{self.symbol}{self.base_salary:,.0f}'

      def show_salary(self):
        return f'{self.symbol}{self.base_salary:,.0f}'

        def show_bonus(self):
          return f'{self.symbol}{self.total_salary:,.0f}'

      def calculate_salary(base_salary, bonus_rate=.1):
        return base_salary *(1 + bonus_rate)

        def calculate_bonus(total_salary, base_salary):
          return (total_salary -base_salary) / base_salary

In [22]:
salary = BaseSalary(100000)

salary.symbol

'$'

In [23]:
salary

In [28]:
class BaseSalary:
    def __init__(self, base_amount, tax_rate=0.2):
        """Initialize base salary with a base amount and optional tax rate."""
        self.base_amount = base_amount
        self.tax_rate = tax_rate

    def calculate_net_salary(self):
        """Calculate the net salary after tax deduction."""
        return self.base_amount * (1 - self.tax_rate)

    def calculate_bonus(self, percentage):
        """Calculate the bonus based on a percentage of the base amount."""
        return self.base_amount * (percentage / 100)

# Create an instance of BaseSalary
salary = BaseSalary(100000)

# Call the calculate_bonus method with a bonus percentage
bonus = salary.calculate_bonus(10)
print(f"Bonus: {bonus}")

Bonus: 10000.0