<a href="https://colab.research.google.com/github/DatascienceSandra/C-Users-alexa-OneDrive-Documents-Excel-Data-Analysis-Course/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
my_array = np.array([1,2,3,4])

In [4]:
import numpy as np

# Example data
base_salaries = np.array([50000, 60000, 70000, 80000])
bonus_rates = np.array([0.1, 0.2, 0.15, 0.05])

# Calculate total salary (base salary + bonus)
total_salaries = base_salaries * (1 + bonus_rates)

print(total_salaries)

[55000. 72000. 80500. 84000.]

In [5]:
np.mean(total_salaries)

72875.0

#Job titles
job_titles =np.array(['Data Analyst', 'Data Scientist', 'Data Engineer','Machine Learning Engineer', AI Engineer'])

In [7]:
type(None)

NoneType

In [9]:
type(np.nan)

float

In [10]:
np.nanmean(total_salaries)

72875.0